<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="myConnectionString"
         connectionString="Dsn=bonvoyage;server=localhost;uid=root;database=bonvoyage;port=3306"
         providerName="System.Data.Odbc"/>
  </connectionStrings>
  
	<system.web>
		<pages theme="mi_theme"></pages>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
