@charset "utf-8";


#topnav{float:right; margin-top:0px; 
font-size:13px; font-family:Georgia, "Times New Roman", Times, serif;
}
#topnav ul, #topnav li{margin:0; padding:0; list-style:none;}
#topnav li{float:right; margin-right:30px;}
#topnav li li{margin-right:0;}
#topnav li span{display:block; margin:5px 0 0 0; padding:0; font-size:12px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; text-transform:lowercase; color:#666666; background-color:#202020; font-weight:normal; line-height:normal;}
#topnav li a:link, #topnav li a:visited, #topnav li a:hover{display:block; margin:0; padding:0; color:#FFFFFF; background-color:#202020; text-transform:uppercase;}
#topnav ul ul li a:link, #topnav ul ul li a:visited{border:none;}
#topnav li a:hover, #topnav li.active a{color:#FBF8CD; background-color:#202020;}
#topnav li li a:link, #topnav li li a:visited{width:150px; float:none; margin:0; padding:7px 10px; font-size:12px; font-weight:normal; color:#FFFFFF; background-color:#202020; border:none;}
#topnav li li a:hover{color:#FBF8CD; background-color:#202020;}
#topnav ul ul{z-index:9999; position:absolute; left:-999em; height:auto; width:170px; border-left:1px solid #666666; border-bottom:1px solid #666666;}
#topnav ul ul a{width:140px;}
#topnav li:hover ul{left:auto;}
#topnav li:hover{position:static;}
#topnav li.last{margin-right:0;}


/* ----------------------------------------------Pagination------------------------------------- */

.pagination{display:block; width:60%; 
text-align:center; clear:both;
    height: 56px;
    z-index: 1;
    left: 192px;
    top: 1110px;
    position: absolute;
}
.pagination ul{margin:0; padding:0; list-style:none;}
.pagination li{display:inline;}
.pagination .next{margin:0;}
.pagination a{display:inline-block; padding:2px 5px 3px 5px; margin:0 2px 0 0; border:1px solid #D8D9DE;}
.pagination .current, .pagination .splitter{padding:6px; margin:0 2px 0 0;}
.wrapper .pagination a:hover, .pagination .current, .pagination .splitter{color:#9B9B9B; background-color:#FAFAFA;}